body{
    margin:0;
    font-family:"Kanit",sans-serif;
    background:white;
    color:#4d5833;
}

.cart-page{
    max-width:1000px;
    margin:auto;
    padding:30px 20px;
}

h1{
    font-size:24px;
    font-weight:600;
    margin-bottom:20px;
}
.cart-header{
    display:grid;
    grid-template-columns:1fr 200px 150px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
    font-size:12px;
    letter-spacing:1px;
}

.cart-item{
    display:grid;
    grid-template-columns:1fr 200px 150px;
    align-items:center;
    padding:20px 0;
    border-bottom:1px solid #ddd;
}

.product-info{
    display:flex;
    gap:24px;
    align-items:center;
}

.product-info img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
}

.product-info h3{
    margin:0;
    font-size:18px;
    font-weight:300;
    color:#544839;
    line-height:1.4;
}

.product-info p{
    margin-top:3px;
    font-size:12px;
    font-weight:300;
    color:#999;
    letter-spacing:0.3px;
}

.qty-box{
    display:flex;
    align-items:center;
    justify-content:center;

    gap:12px;

    width:120px;
    height:38px;

    border:1px solid #8a9368;
    border-radius:30px;
}

.qty-box button{
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
}

.item-total{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:12px;

    font-size:16px;
    font-weight:400;
    color:#544839;
}

.cart-bottom{
    margin-top:30px;

    display:flex;
    justify-content:space-between;

    background:none;
    padding:30px;
}

.cart-note{
    width:320px;
}

.cart-note label{
    display:block;
    margin-bottom:8px;
    font-size:13px;
}

.cart-note textarea{
    width:100%;
    height:70px;

    padding:12px;

    border:1px solid #ddd;
    border-radius:8px;

    resize:none;
    font-family:"Kanit",sans-serif;
    font-size:13px;

    background:#fff;
}

.cart-summary{
    width:350px;
    text-align:center;
}

.checkout-btn{
    width:220px;
    height:42px;

    background:#544839;
    color:white;

    border:none;
    border-radius:8px;

    font-family:"Kanit",sans-serif;
    cursor:pointer;

    transition:.2s;
}

.checkout-btn:hover{
    opacity:.9;
}

.paypal-btn{
    width:100%;
    padding:16px;

    border:none;
    border-radius:40px;

    background:#ffc439;

    font-size:18px;
    margin-top:15px;

    cursor:pointer;
}

.remove-btn{
    background:none;
    border:none;

    cursor:pointer;

    font-size:16px;

    color:#544839;

    transition:.2s;
}

.remove-btn:hover{
    opacity:.6;
}

/* number 1-100 */
.qty{
    width:30px;

    border:none;
    background:transparent;

    text-align:center;

    font-size:16px;
    font-family:"Kanit",sans-serif;

    padding:0;
    margin:0;
}

.qty:focus{
    outline:none;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}

.qty:focus{
    outline:none;
}

.qty::-webkit-inner-spin-button,
.qty::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

.qty{
    appearance:textfield;
}